@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

/* @font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap")
    format("woff2");
} */

/* @font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200 700;
  font-display: optional;
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
} */

@layer base {
  html,
  body {
    height: 100%;
    font-family: "Poppins", sans;
    padding: 0;
    margin: 0;
  }
}
