@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

/* @font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap")
    format("woff2");
} */

/* @font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200 700;
  font-display: optional;
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
} */

@layer base {
  :root {
    /* default theme */
    @apply theme-space;
  }

  .theme-space {
    --primary: 124 58 237;
    --primary-dark: 109 40 217;
    --primary-light: 167 139 250;

    /* --secondary: ;
    --secondary-dark ;
    --secondary-light ; */
  }

  .theme-weed {
    --primary: 20 184 166;
    --primary-dark: 15 118 110;
    --primary-light: 94 234 212;

    /* --secondary: ;
    --secondary-dark ;
    --secondary-light ; */
  }

  .theme-sunset {
    --primary: 217 70 239;
    --primary-dark: 134 25 143;
    --primary-light: 232 121 249;

    /* --secondary: ;
    --secondary-dark ;
    --secondary-light ; */
  }

  html,
  body {
    height: 100%;
    font-family: "Poppins", sans;
    padding: 0;
    margin: 0;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xl;
  }
}
